*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}
.container{
     margin: auto; 
    width:100%;
    height:100vh;
    background:  url(../Assets/fogg\ girl.jpg);
    /* background-blend-mode: darken; */
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
}
#navbar{
    display: flex;
    flex-direction: row;
   
    padding-top: 10px;
   
    /* position: absolute; */
     
}
#circle1{
    width: 40px;
    height:40px;
    background-color:darkolivegreen ;
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
}
#circle2{
    width: 40px;
    height:40px;
    background-color:black;
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 20px;
}
#main{
    margin: 40px 0px 0px 80px;
    display: flex;
    flex-direction: column;
    align-items:normal;
    justify-content: left;
}
#para{
    display: inline-block;
    width: 500px;
    font-size: 20px;
    margin-bottom: 20px;
    
}
#heading{
    display: inline-block;
    width: 400px;
    font-size: 50px;
    line-height: 50px;
}
#btn{
   
    padding: 10px;
    font-size: 20px;
    color:black;
    font-weight: bolder;
    width: fit-content;
    background-color: rgb(62, 78, 35);
    border-color: transparent;
    border-radius: 10px;
}
span{
   
    font-size: 30px;
   
}
