*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: darkcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main{
    margin-top: 80px;
    display: flex; 
    flex-direction: row;
    column-gap:120px;
    align-items: center;
    justify-content: center;

   

}
#left{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: left;
    margin-top: -10px;
    
}
#left h1{
   font-size:50px;
   margin-bottom: 20px;
}
#left p{
    display: inline-block;
    width:400px;
    font-size: 20px;
    margin-bottom: 20px;
}
#left button{
    width: fit-content;
    padding: 10px;
    color:darkgreen;
    background-color:white;
    border: 3px solid purple;
    border-radius: 10px;
}
#right{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#right img{
  
    width:300px;
    height:300px;
    border-radius: 50%;
}
#btn1:active{
    background-color:darkkhaki;
    
}
#btn2:active{
    background-color:darkkhaki;
    
}