*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
body{
    background-color:#14212e;
}
#main{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
     /* align-items: center; */
     justify-content:space-around;  
    color:white;
     
     
    
}
#left{
     margin-top:-60px; 
    display: flex;
    flex-direction: column;
    /* align-items: center; */
     /* justify-content:left;  */
}
#left video{
    width:500px;
    height:500px;
   
}
#right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
     margin-top: 30px; 
}
#heading{
    font-size: 30px;
    display: inline-block;
    width: 380px;
    margin-bottom: 20px;
   

}
#para{
    font-size:16px;
    display: inline-block;
    width: 380px;
   
}
#btn{
    margin: auto;
    display: block;
    width: fit-content;
    padding: 10px;
    /* margin-top: -70px; */
    background-color:white;
   color: black;
    border: 2px solid white;
}
button:hover{
    background-color: brown;
}